@import "theme.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

[data-bs-theme="dark"] {
  --bs-primary: #a78bfa;
  --bs-primary-rgb: 56, 189, 248;

  --bs-secondary: #38bdf8;
  --bs-secondary-rgb: 167, 139, 250;

  --bs-body-bg: #020617;
  --bs-body-bg-rgb: 15, 23, 42;

  --bs-sidebar-bg: #0f172a;
  --bs-sidebar-bg-rgb: 18, 18, 18;

  --bs-body-color: #e2e8f0;
  --bs-body-color-rgb: 226, 232, 240;

  --bs-text-muted: #94a3b8;
  --bs-text-muted-rgb: 148, 163, 184;

  --bs-border-color-translucent: rgba(255, 255, 255, 0.08);

  @each $color, $value in $theme-colors {
    .btn-#{$color} {
      --bs-btn-bg: var(--bs-#{$color});
      --bs-btn-border-color: var(--bs-#{$color});
      --bs-btn-hover-bg: var(--bs-#{$color});
      --bs-btn-hover-border-color: var(--bs-#{$color});

      @if ($color == "light" or $color == "warning") {
        --bs-btn-color: #000;
      } @else {
        --bs-btn-color: #fff;
      }
    }

    .btn-outline-#{$color} {
      --bs-btn-color: var(--bs-#{$color});
      --bs-btn-border-color: var(--bs-#{$color});
      --bs-btn-hover-bg: var(--bs-#{$color});
      --bs-btn-hover-border-color: var(--bs-#{$color});
    }
  }

  .text-primary {
    color: var(--bs-primary) !important;
  }

  .text-secondary {
    color: var(--bs-secondary) !important;
  }

  .active {
    background-color: var(--bs-primary) !important;
  }

  .text-gradient {
    background: linear-gradient(to right, #38bdf8, #a78bfa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}