$sidebar-width: 280px;

.main-content {
  padding-top: 70px;
  margin-left: 0;
}


@media (hover: hover) {
  .card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  }
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;

    background-color: var(--bs-sidebar-bg);
    border-right: 1px solid var(--bs-border-color);
    color: var(--bs-body-color);

    z-index: 100;
    overflow-y: auto;
  }

  .main-content {
    margin-left: $sidebar-width;
    min-height: 100vh;
    padding-top: 0;
  }

  section {
    scroll-margin-top: 0;
  }
}