$primary: #4f46e5;
$secondary: #059669;
$body-bg: #f8fafc;
$sidebar-bg: #f1f5f9;
$body-color: #334155;
$text-muted: #64748b;

:root {
  --bs-sidebar-bg: #{$sidebar-bg};
}

.text-gradient {
  background: linear-gradient(to right, #4f46e5, #10b981);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sidebar {
  border-right: 1px solid var(--bs-border-color-translucent);
}

.secondary-bg {
  background-color: var(--bs-sidebar-bg);
}

a {
  color: var(--bs-primary);
}
