@use "../node_modules/bootstrap/scss/bootstrap";
@use "theme.scss";
@use "terminal.scss";
@use "badge.scss";
@use "mediaQueries.scss";

body {
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

#avatar_container {
  width: 100px;
}

#avatar_container_mobile {
  width: 75px;
}

section {
  scroll-margin-top: 80px;
}