DB_HOST=localhost
DB_NAME=ma_base_de_donne
DB_USER=root
DB_PASS=

# Secret pour signer les tokens JWT
JWT_SECRET=

# Ajout des ids utilisateur pour les autoriser à modifier le contenue via l'API
AUTHORIZATION="1,2,3"

# Mettre DEV permet d'activer les logs
APP_ENV=dev

ADMIN_EMAIL=john@example.com
BREVO_API_KEY=
BREVO_EMAIL_VERIFIED=john@example.com