# Logs
logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/
vendor/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/
public/assets/css/*.map

# Environment & Secrets
.env
.env.local
.env.*.local
*.sql
TODO

# Avoid CV on GITHUB
public/docs/CV-Dylan-Lavieille-2026-full.pdf

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store
*.sh