<div class="container mt-3">
    <div class="terminal-window">
        <div class="terminal-header">
            <div class="terminal-buttons">
                <div class="dot red"></div>
                <div class="dot yellow"></div>
                <div class="dot green"></div>
            </div>
            <div class="terminal-title">bash — portfolio@dev: ~</div>
        </div>

        <div class="terminal-body">
            <div>
                <span style="color: #4ade80;">visiteur@anonyme</span>
                <span class="text-white">:</span><span style="color: #38bdf8;">~/portfolio</span>
                <span class="text-white">$&nbsp;</span><span style="color: #fde047;">./unknown.sh</span><br><br>
            </div>
            <br>

            <div>
                <span style="color: #c084fc;">></span> <span class="text-white-50">Initialisation du processus...</span><br>
                <span style="color: #c084fc;">></span> <span class="text-white-50">Statut&nbsp;&nbsp;&nbsp;:</span> <span style="color: #ff0003;">Page introuvable !</span><br>
                <span style="color: #c084fc;">></span> <span class="text-white-50">Nouvelle page : <a href="/" class="text-decoration-none fw-bold text-info">/home/dylan</a></span><br><br>
            </div>
            <br>

            <div class="comment">
                // Vous pensez qu'il s'agit d'une erreur ? Utiliser mon formulaire de contact pour m'en <a href="/#contact" class="text-decoration-none fw-bold text-info">avertir !</a>
            </div>
            <br>
            <div>
                <span style="color: #4ade80;">visiteur@anonyme</span><span class="text-white">:</span><span style="color: #38bdf8;">~/portfolio</span> <span class="text-white">$</span> <span class="text-white">_</span>
            </div>

        </div>
    </div>
</div>