<div class="container mt-3">
    <div class="terminal-window">
        <div class="terminal-header">
            <div class="terminal-buttons">
                <div class="dot red"></div>
                <div class="dot yellow"></div>
                <div class="dot green"></div>
            </div>
            <div class="terminal-title">bash — portfolio@dev: ~</div>
        </div>

        <div class="terminal-body">
            <div>
                <span style="color: #4ade80;">visiteur@anonyme</span>
                <span class="text-white">:</span><span style="color: #38bdf8;">~/portfolio</span>
                <span class="text-white">$&nbsp;</span><span style="color: #fde047;">./deploy.sh --prod</span><br><br>
            </div>
            <br>

            <div>
                <span style="color: #ef4444;">[CRITICAL]</span> <span class="text-white-50">Lancement de la production...</span><br>
                <span style="color: #ef4444;">[FAILED]</span> <span class="text-white-50">Statut&nbsp;&nbsp;&nbsp;:</span> <span style="color: #ff0003; font-weight: bold; animation: blink 1s infinite;">500 Internal Server Error</span><br>
                <span style="color: #ef4444;">[TRACE]</span> <span class="text-white-50">Exception in thread "main" java.lang.NullPointerException (Oops!)</span><br>
                <span style="color: #ef4444;">[SYSTEM]</span> <span class="text-white-50">Retour de secours : <a href="/" class="text-decoration-none fw-bold text-info">/home/dylan</a></span><br><br>
            </div>
            <br>

            <div class="comment" style="color: #fb923c;">
                // Le serveur a pris un café de travers. Mes équipes (moi-même) sont sur le coup. Si le problème persiste, <a href="/#contact" class="text-decoration-none fw-bold text-info">contactez-moi !</a>
            </div>
            <br>
            <div>
                <span style="color: #4ade80;">visiteur@anonyme</span><span class="text-white">:</span><span style="color: #38bdf8;">~/portfolio</span> <span class="text-white">$</span> <span class="text-white">_</span>
            </div>

        </div>
    </div>
</div>