.tech-badge {
  font-size: 0.8rem;
  padding: 0.4em 0.8em;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  transition: transform 0.2s ease;
  box-shadow: none;

  &:hover {
    transform: translateY(-2px);
  }
}

$tech-colors: (
        "html": #E34F26, "css": #1572B6, "js": #F7DF1E,
        "ts": #3178C6, "php": #777BB4, "sql": #4479A1,
        "bash": #4EAA25, "go": #00ADD8, "c": #555555,
        "java": #ED8B00, "nodejs": #339933, "csharp": #239120
);

@each $name, $color in $tech-colors {
  .bg-#{$name} {
    background-color: rgba($color, 0.15);

    border: 1px solid rgba($color, 0.2);

    @if (lightness($color) > 65%) {
      color: darken($color, 95%) !important;
    } @else {
      color: $color !important;
    }
  }
}