.tech-badge {
  font-size: 0.85em;
  padding: 0.5em 0.8em;
  border-radius: 50rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.card-skill {
  border-top-width: 4px !important;
  border-top-style: solid !important;

  &.frontend     { border-top-color: #007bff !important; }
  &.backend      { border-top-color: #28a745 !important; }
  &.software-sys { border-top-color: #6c757d !important; }
}

.card:hover .tech-badge {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

$tech-colors: (
        "html": #E34F26, "css": #1572B6, "js": #F7DF1E,
        "ts": #3178C6, "php": #777BB4, "sql": #4479A1,
        "bash": #4EAA25, "go": #00ADD8, "c": #555555,
        "java": #ED8B00, "nodejs": #339933, "csharp": #239120
);

@each $name, $color in $tech-colors {
  .bg-#{$name} {
    background-color: $color;
    @if (lightness($color) > 70%) {
      color: #000 !important;
    } @else {
      color: #fff !important;
    }
  }
}